body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  padding-bottom: 50px;
  background-color: rgb(162, 187, 178);
}

#planner-heading {
    margin-top: 50px;
    font-family: gala-biline, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    color:beige;
    padding: 50px 0 0 30px;
    margin-bottom: 25px;
    line-height: 120px;
    display: block;
}

#planner-subhead {
  font-family: novecento-sans, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 25px;
  color: #e5f1fc;
}

#currentDay {
  font-family: novecento-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #e5f1fc;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  text-align: center;
}

placeholder {
  color: rgb(145, 144, 144);
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px dotted beige;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  margin-bottom: 5px;
}

.hour {
  background-color: #ffffff;
  color: #6488a5;
  font-family: novecento-sans, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 25px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  line-height: 75px;
  text-align: center;
}

.past {
  background-color: #d9f0df;
  color: white;
}

.present {
  background-color: #e6b3af;
  color: white;
}

.future {
  background-color: #b5c4a9;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #6488a5;
  color: white;
  text-align: center;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
